body {
    background: #ecf0f1;
    font-family: Arial, sans-serif;
}

.form-container {
    background: #2c3e50;
    color: white;
    width: 360px;
    padding: 25px;
    margin: 100px auto;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    position: relative;
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin-top: 12px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: none;
}

button {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    background: #1abc9c;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #16a085;
}
